# PostgreSQL connection string

DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?pgbouncer=true"
DIRECT_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"

# Server configuration
PORT=4046
BACKEND_BASE_URL=http://localhost:4046



# Bucket configuration
BUCKET_NAME=your bucket name
BUCKET_REGION=region
BUCKET_ACCESS_KEY=key
BUCKET_SECRET_KEY=secret key
BUCKET_ENDPOINT=endpint


# JWT configuration
JWT_SECRET=secret
JWT_COMMAND=command
GEN_SALT=10
EXPIRES_IN=45d
FORGET_EXPIRES_IN=5m

EMAIL= "email"
APP_PASS= "pass"
NODE_ENV="development"

DEFAULT_ADMIN_PASSWORD= "admin password"
DEFAULT_ADMIN_EMAIL= "admin email"
CORS_ORIGINS=write your cors origins here, comma separated. example: http://localhost:3000,http://example.com
