# PostgreSQL connection string

DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?pgbouncer=true"
DIRECT_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"

# Server configuration
PORT=4078



# JWT configuration
JWT_SECRET=secret
GEN_SALT=10
EXPIRES_IN=45d
BCRYPT_SALT_ROUNDS=12


EMAIL= "email"
APP_PASS= "pass"

//cloudinary

CLOUDNAME= "YOUR_CLOUD_NAME"
API_KEY= "YOUR_API_KEY"
API_SECRET= "YOU_API_SECRET"


CORS_ORIGINS=write your cors origins here, comma separated. example: http://localhost:3000,http://example.com
